node_modules/
dist/
build/
coverage/
.cache/
.vite/
babel-cache/
.env*
.DS_Store
Thumbs.db

#Jest
jest.config.mjs.cache/
jest-test-results.json

#Vite
*.local
.vite/
.vitepress/

.vscode/
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*