/* Mobile */
@media (max-width: 600px) {
    .experience-section {
        background-color: #0a192f;
        padding: 4rem 2rem;
        color: #ccd6f6;
        max-width: 900px;
        margin: 0 auto;
    }

    .experience-header {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        text-align: left;
        color: #ccd6f6;
    }

    .experience-entry {
        display: flex;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .experience-date {
        min-width: 150px;
        color: #8892b0;
        font-weight: 500;
        font-size: 1rem;
    }

    .experience-content {
        flex: 1;
    }

    .experience-role {
        color: #64ffda;
        font-size: 1.25rem;
        font-weight: 600;
        text-decoration: none;
    }

    .experience-subtitle {
        color: #8892b0;
        font-size: 1rem;
        margin-top: 0.2rem;
    }
    .experience-description {
        margin: 1rem 0 0;
        color: #a8b2d1;
        line-height: 1.6;
    }

}

/* Laptop */
@media (min-width: 900px) {
  .experience-section {
        background-color: #0a192f;
        padding: 4rem 2rem;
        color: #ccd6f6;
        max-width: auto;
        margin: 0 auto;
    }

    .experience-header {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        text-align: left;
        color: #ccd6f6;
    }

    .experience-entry {
        display: flex;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .experience-date {
        min-width: 150px;
        color: #8892b0;
        font-weight: 500;
        font-size: 1rem;
    }

    .experience-content {
        flex: 1;
    }

    .experience-role {
        color: #64ffda;
        font-size: 1.25rem;
        font-weight: 600;
        text-decoration: none;
    }

    .experience-role:hover {
        text-decoration: underline;
    }

    .experience-subtitle {
        color: #8892b0;
        font-size: 1rem;
        margin-top: 0.2rem;
    }
}